<!doctype html>
{% load static %}
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" sizes="96x96" href="{% static 'oktan/img/asset/favicon.png' %}">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Administrasi Tim | Oktan ITB 2018</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="{% static 'oktan/vendor/bootstrap/css/bootstrap2.min.css' %}" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="{% static 'oktan/css/animate.min.css' %}" rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
    <link href="{% static 'oktan/css/light-bootstrap-dashboard.css' %}" rel="stylesheet"/>


    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="{% static 'oktan/css/demo.css' %}" rel="stylesheet" />


    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="{% static 'oktan/css/pe-icon-7-stroke.css' %}" rel="stylesheet" />
</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-color="#94a880" data-image="img/sidebar.jpg">

    <!--   you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple" -->


    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="{% url 'oktansite:index' %}">
                    <img src="{% static 'oktan/img/asset/thumbnail/logo.png' %}" style="margin: 0 auto">
                </a>
            </div>

            <ul class="nav">
                <li>
                    <a href="{% url 'oktansite:user' %}">
                        <i class="pe-7s-home"></i>
                        <p>Beranda</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'oktansite:member' %}">
                        <i class="pe-7s-user"></i>
                        <p>Anggota Tim</p>
                    </a>
                </li>
                <li class="active">
                    <a href="{% url 'oktansite:administrasi' %}">
                        <i class="pe-7s-note2"></i>
                        <p>Administrasi</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'oktansite:logout' %}">
                        <i class="pe-7s-lock"></i>
                        <p>Keluar</p>
                    </a>
                </li>
            </ul>
    	</div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse">
                </div>
            </div>
        </nav>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Administrasi Tim</h4>
                            </div>
                            <div class="content">
                                <form method=POST action="{% url 'oktansite:administrasi' %}" enctype="multipart/form-data">
                                {% csrf_token %}
																{% if message%}
																	<p> {{message}} </p>
																{% endif %}
                                    <div class="row">
                                          <div class="col-md-12">
                                              <div class="form-group">
                                                  <label>Kode Bukti Bayar</label>
                                                  <input type="text" class="form-control" disabled placeholder="ID Tim" value="{{ team.proof_code }}">
                                              </div>
                                          </div>
                                      </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Nama Tim</label>
                                                <input type="text" class="form-control" placeholder="Nama Tim" name="team_name" value="{{team.team_name}}" required>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Asal Sekolah</label>
                                                <input type="text" class="form-control" placeholder="Asal Sekolah" name="school_name" value="{{team.school_name}}" required>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Nama Guru Pembimbing</label>
                                                <input type="text" class="form-control" placeholder="Nama Guru Pembimbing" name="supervisor_name" value="{{team.supervisor_name}}" required>
                                            </div>
                                        </div>
                                    </div>

																		<div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Rayon saat ini : </label>
                                                <input type="text" class="form-control" placeholder="Rayon" value="{{team.rayon}}" disabled>
                                            </div>
                                        </div>
                                    </div>

																		<div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Pilih Rayon</label>
																								<select class="form-control" id="rayon" name="rayon">
																									<option value="" selected="selected">-- Pilih Rayon --</option>
																									<option value="bali">Bali</option>
																									<option value="banyuwangi">Banyuwangi - Banyuwangi, Jember, Bondowoso, Situ bondo</option>
																									<option value="bandung">Bandung - Bandung Raya, Sumedang, Subang</option>
																									<option value="bogor">Bogor - Bogor, Sukabumi, Cianjur</option>
																									<option value="cirebon">Cirebon - Cirebon, Majalengka, Indramayu, Tegal, Kuningan</option>
																									<option value="karawang">Karawang - Karawang, Bekasi, Purwakarta</option>
																									<option value="jakarta">Jakarta - Jakarta Raya</option>
																									<option value="lampung">Lampung</option>
																									<option value="makassar">Makassar - Sulawesi dan Indonesia Timur</option>
																									<option value="malang">Malang - Malang, Lumajang, Mojokerto</option>
																					        <option value="medan">Medan - Banda Aceh, Medan</option>
																					        <option value="padang">Padang - Padang, Jambi, Riau</option>
																									<option value="palembang">Palembang - Palembang, Bangka, Bengkulu</option>
																									<option value="samarinda">Samarinda - Kalimantan</option>
																									<option value="semarang">Semarang - Semarang, Demak, Salatiga, Kudus, Jepara</option>
																									<option value="serang">Serang - Serang, Pandeglang, Cilegon, Lebak, Merak</option>
																									<option value="surakarta">Surakarta - Surakarta, Boyolali, Karanganyar, Wonogiri</option>
																									<option value="surabaya">Surabaya - Surabaya, Gresik, Lamongan, Mojokerto</option>
																									<option value="tangerang">Tangerang</option>
																									<option value="tasikmalaya">Tasikmalaya - Tasikmalaya, Ciamis, Garut, Banjar</option>
																					      </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Upload Bukti Pembayaran</label>
                                                <input type="file" name="payment_proof" id="fileinput">
                                                {% if team.proof_of_payment %}
                                                  <img src="{{ team.proof_of_payment.url }}" width="400" height="400"></img>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-info btn-fill pull-right">Kirim</button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="container-fluid">
                <p class="copyright pull-right">
                    Copyright &copy; OKTAN ITB 2018
                </p>
            </div>
        </footer>


    </div>
</div>


</body>

    <!--   Core JS Files   -->
    <script src="{% static 'oktan/vendor/jquery/jquery.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'oktan/vendor/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>

    <script src="{% static 'oktan/js/light-bootstrap-dashboard.js' %}" type="text/javascript"></script>

</html>
