<!DOCTYPE html>
{% load static %}
{% block content %}
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" type="image/png" sizes="96x96" href="{% static 'oktan/img/asset/favicon.png' %}">
  <title>Admin | Oktan ITB 2018</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'oktan/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{% static 'oktan/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

  <!-- Plugin CSS -->
  <link href="{% static 'oktan/vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'oktan/css/admin.css' %}" rel="stylesheet">

  <style>
      .pagination li {
          border: 0.2px solid #e9ecef;
          padding: 3px 5px;
      }
      .pagination li.active{
          color: white;
          background-color: #337ab7;
      }
      .pagination li.disabled a {
        pointer-events: none;
        color: black;
      }
      .pagination li.active a {
        color: white;
      }
  </style>

</head>
<body class="fixed-nav" id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="{% url 'oktansite:index' %}">
      <img class="brand" src="{% static 'oktan/img/asset/thumbnail/logo.png' %}"></img>
      <span class="nav-link-text">
        Oktan Admin</span>
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="{% url 'oktansite:admin_dashboard' %}">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">
              Dashboard</span>
          </a>
        </li>
        <li class="nav-item active" data-toggle="tooltip" data-placement="right" title="Charts">
          <a class="nav-link" href="{% url 'oktansite:listpeserta' %}">
            <i class="fa fa-fw fa-table"></i>
            <span class="nav-link-text">
              Daftar Pendaftar</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
          <a class="nav-link" href="{% url 'oktansite:admin_dashboard' %} #sponsorship">
            <i class="fa fa-users"></i>
            <span class="nav-link-text">
              Sponsorship</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
            <a class="nav-link" href="{% url 'oktansite:admin_dashboard' %} #timeline">
              <i class="fa fa-newspaper-o"></i>
              <span class="nav-link-text">
                Timeline</span>
            </a>
          </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
          <a class="nav-link" href="{% url 'oktansite:admin_dashboard' %} #news">
            <i class="fa fa-newspaper-o"></i>
            <span class="nav-link-text">
              News</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
          <a class="nav-link" href="{% url 'oktansite:admin_dashboard' %} #about">
            <i class="fa fa-newspaper-o"></i>
            <span class="nav-link-text">
              About Content</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
            <i class="fa fa-fw fa-sign-out"></i>
            Logout</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="content-wrapper py-3">
    <div class="container-fluid" style="margin-top: 20px;">
      {% if deleted %}
          <div class="alert alert-danger alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Error! </strong> Data telah dihapus.
          </div>
      {% endif %}
    </div>
    <div class="container-fluid" style="margin-top: 20px;">
        {% if success %}
          <div class="alert alert-success alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success! </strong> Data telah ditambahkan/diubah.
          </div>
        {% endif %}
    </div>
    <div class="container-fluid" id="admin-content">
      <!-- Icon Cards -->
      <div class="card mb-3" id="pendaftar">
        <div class="card-header">
            <div class="row">
                <div class="col-md-8 col-xs-6">
                    <i class="fa fa-table"></i>
                    Pendaftar
                </div>
                <div class="col-md-4 col-xs-6">
                    <form action="{% url 'oktansite:search_peserta' %}" method=POST>
                      {% csrf_token %}
                      <div class="input-group">
                          <input type="text" class="form-control" name="keyword" placeholder="Cari tim...">
                          <select class="form-control" name="opt">
                            <option value="" selected="selected">--------</option>
                            <option value="bayar">Sudah Bayar</option>
                            <option value="belumbayar">Belum Bayar</option>
                          </select>
                          <span class="input-group-btn">
                              <button class="btn btn-default" type="submit">Cari</button>
                          </span>
                      </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" width="100%" id="dataTable" cellspacing="0">
              <thead>
                <tr>
                  <th>Nama Tim</th>
                  <th>Asal Sekolah</th>
                  <th>Upload Bukti Pembayaran</th>
                  <th>Generate Kode Bayar</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>Nama Tim</th>
                  <th>Asal Sekolah</th>
                  <th>Upload Bukti Pembayaran</th>
                  <th>Generate Kode Bayar</th>
                  <th></th>
                  <th></th>
                </tr>
              </tfoot>
              <tbody>
                {% for peserta in list_peserta %}
                  <tr>
                    <td>{{peserta.team_name}}</td>
                    <td>{{peserta.school_name}}</td>
                    <td>{% if peserta.proof_of_payment %}
                          Sudah
                        {% else %}
                          Belum
                        {% endif %}
                    </td>
                    <td>{% if peserta.proof_code %}
                          Sudah
                        {% else %}
                          Belum
                        {% endif %}
                    </td>
                    <td>
                      <a href="{% url 'oktansite:view_peserta' peserta.id %}" class="btn btn-primary">View</button>
                    </td>
                    <td>
                      <a href="{% url 'oktansite:delete_peserta' peserta.id %}" class="btn btn-danger">Delete</button>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li class="disabled">
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                    {% if list_peserta.has_previous %}
                      <li><a href="?page={{ list_peserta.previous_page_number }}">Previous</a></li>
                    {% endif %}
                    <li class="active disabled"><a href="#">Page {{ list_peserta.number }} of {{ list_peserta.paginator.num_pages }}</a></li>
                    {% if list_peserta.has_next %}
                      <li><a href="?page={{ list_peserta.next_page_number }">Next</a></li>
                    {% endif %}
                    <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                    </li>
                </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- /.content-wrapper -->

  <!-- Scroll to Top Button -->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fa fa-angle-up"></i>
  </a>

  <!-- Logout Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Select "Logout" below if you are ready to end your current session.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="{% url 'oktansite:admin_logout' %}">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'oktan/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'oktan/vendor/popper/popper.min.js' %}"></script>
  <script src="{% static 'oktan/vendor/bootstrap/js/bootstrap.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'oktan/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'oktan/vendor/chart.js/Chart.min.js' %}"></script>
  <script src="{% static 'oktan/vendor/datatables/jquery.dataTables.js' %}"></script>
  <script src="{% static 'oktan/vendor/datatables/dataTables.bootstrap4.js' %}"></script>

</body>
{% endblock %}
</html>
