<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" type="image/png" sizes="96x96" href="{% static 'oktan/img/asset/favicon.png' %}">
  <title>Halaman Login | Oktan ITB 2018</title>
  <link rel="stylesheet" type="text/css" href="{% static 'oktan/css/login.css' %}">
</head>
<body>
  {% block content %}
  <div class="login-page">
    <div class="form">
      <a href="{% url 'oktansite:index' %}"><img src="{% static 'oktan/img/asset/thumbnail/logo.png' %}"></a>
      <form class="register-form" method="POST" action="{% url 'oktansite:register' %}">
        {% csrf_token %}
        <input type="text" placeholder="nama tim" name="team_name" required/>
        <input type="text" placeholder="asal sekolah" name="school_name" required/>
        <input type="text" placeholder="nama guru pembimbing" name="supervisor" required/>
        <input type="email" placeholder="alamat email" name="email" required/>
        <input type="password" placeholder="password" name="password" required/>
        <button type=submit>buat akun</button>
        <p class="message">Sudah mendaftar? <a href="#">Masuk disini</a></p>
      </form>
      <form class="login-form" method="POST" action="{% url 'oktansite:login' %}">
        {% csrf_token %}
        <input type="email" placeholder="alamat email" name="email" required/>
        <input type="password" placeholder="password" name="password" required/>
        <button type=submit>masuk</button>
        <p class="message">Belum punya akun? <a href="#">Mendaftar disini</a></p>
      </form>
      {% if error_message %}
        <p>{{error_message}}</p>
      {% endif %}
    </div>
  </div>
  <script src="{% static 'oktan/vendor/jquery/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'oktan/js/login.js' %}"></script>
  {% endblock %}
</body>
</html>
